<form action="/blog" method="post">
    <input type="text" placeholder="Title" name="title">
    <input type="text" placeholder="Image url" name="image">
    <input type="text" placeholder="enter blog" name="description">
    <button>Submit</button>
</form>